$c-popover-arrow-size: 8px;

$c-popover-background-color: $g-color-grey-50;


/**
 * Base.
 *
 * 1. Position smack in the middle of whatever it's positioned relative to.
 * 2. Position directly underneath of whatever it's positioned relative to and
 *    offset by the height of the arrow, any further offset should be handled
 *    by the `offset` property, which currently isn't doing anything ಠ╭╮ಠ.
 */

.c-popover {
    animation: addStepPopoverScaleUp 0.2s ease both;
    background-color: $c-popover-background-color;
    border: 1px solid $g-color-grey-300;
    border-radius: $shell-g-border-radius;
    box-shadow: 0 0 6px rgba($g-color-grey-900, 0.2);
    left: 0; // [1]
    margin-top: rem($c-popover-arrow-size);
    padding: rem($shell-g-spacing-x-large);
    position: absolute;
    top: 100%; // [2]
    transform: translateX(-50%); // [1]
    transform-origin: 0 0;
    white-space: nowrap;
    z-index: z(popover);
}

@keyframes addStepPopoverScaleUp {
    0% {
        opacity: 0.8;
        transform: scale(0.8) translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(-50%);
    }
}

/**
 * Popover arrows.
 *
 * N.B. might be better to change to SVG's?
 */

.c-popover::before,
.c-popover::after {
    border: $c-popover-arrow-size solid transparent;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
}


/**
 * Modifiers: arrow positions.
 */

// Top
.c-popover--top::before {
    border-bottom-color: $c-popover-background-color;
    bottom: 100%;
    left: 50%;
    margin-left: -(rem($c-popover-arrow-size));
}

// Bottom
.c-popover--bottom::before {
    border-top-color: $c-popover-background-color;
    left: 50%;
    margin-left: -(rem($c-popover-arrow-size));
    top: 100%;
}

// Left
.c-popover--left::before {
    border-right-color: $c-popover-background-color;
    margin-top: -(rem($c-popover-arrow-size));
    right: 100%;
    top: 50%;
}

// Right
.c-popover--right::before {
    border-left-color: $c-popover-background-color;
    left: 100%;
    margin-top: -(rem($c-popover-arrow-size));
    top: 50%;
}
