/**
 * Base.
 *
 * 1. Required for `button` implementations.
 */

.c-panel {
    background-color: $shell-g-color-white;
    border-radius: $shell-g-border-radius;
    box-shadow: $g-box-shadow-panel;
    display: block;
    width: 100%; // [1]
}

/**
 * Modifier: dark
 */

.c-panel--dark {
    background-color: $g-color-grey-50;
}

.c-panel--hollow {
    border: 2px dashed grey;
    box-shadow: none;
}
