/**
 * Settings.
 */

// Equals the height of text inputs
$c-select-list-padding-ends: $shell-g-spacing-small;



/**
 * The container `<span>` element which we apply the visual `<select>` element
 * styles too.
 *
 * 1. So we can position the SVG icon.
 */

.c-select-list {
    background-color: $g-color-grey-50;
    border-radius: $shell-g-border-radius;
    box-shadow: $g-box-shadow-select-list;
    display: block;
    position: relative; // [1]
}

/**
 * The `<select>` element.
 *
 * 1.   Remove the visual user-agent styles.
 * 2.   Reinstate the correct `cursor` as we killed it in [1].
 * 3.   We always want it to be the full width of its parent `<span>` element.
 * 4.   The only visual styles we apply, the rest go on the parent `<span>`
 *      element.
 * 4a.  Needs to be bigger to make room for the SVG icon.
 * 5.   Remove `outline` as we provide a strong custom `:focus`.
 * 6.   Needed in order to have `transition` work as browsers don't like it
 *      when there isn't the same amount of `box-shadow` values for both
 *      default and the `:focus` state ಠ╭╮ಠ.
 * 7.   Hide the arrow in IE 10.
 */

.c-select-list__select {
    appearance: none; // [1]
    background: none; // [1]
    border: 0; // [1]
    cursor: pointer; // [2]
    display: block; // [3]
    font-size: rem($shell-g-font-size-small); // [4]
    outline: 0; // [5]
    padding-bottom: rem($c-select-list-padding-ends); // [4]
    padding-left: rem($shell-g-spacing); // [4]
    padding-right: rem($shell-g-spacing-2x-large); // [4a]
    padding-top: rem($c-select-list-padding-ends); // [4]
    transition: box-shadow 0.2s ease;
    width: 100%; // [3]

    // [7]
    &::-ms-expand {
        display: none;
    }

    // [5]
    &:focus {
        box-shadow: inset 0 0 0 0 rgba($shell-g-color-white, 0),
                    $g-box-shadow-active; // [6]
    }

    &.is-invalid,
    &.is-invalid:focus {
        box-shadow: 0 0 0 1px $g-color-red-500;
    }
}


/**
 * The SVG caret icon.
 */

.c-select-list__icon {
    fill: $shell-g-color-black;
    height: rem(7);
    pointer-events: none;
    position: absolute;
    right: rem($shell-g-spacing);
    top: 50%;
    transform: translateY(-50%);
    width: rem(16);
}
