/**
 * Base.
 *
 * 1. Required for `button` implementations.
 */

.c-card {
    background-color: $shell-g-color-white;
    border-top: 1px solid $g-color-grey-300;
    display: flex;
    padding: rem($shell-g-spacing-small);
    text-decoration: none;
    width: 100%; // [1]
}

.c-card:last-child {
    border-bottom: 1px solid $g-color-grey-300;
}
.c-card__content {
    margin-left: rem($shell-g-spacing);
}

.c-card__image {
    border-radius: 50%;
    height: rem(50);
    width: rem(50);
    overflow: hidden;
}
