.c-search-input {
    position: relative; // [1]
}

/**
 * Base.
 *
 * 1. Remove `outline` as we provide a strong custom `:focus`.
 * 2. Needed in order to have `transition` work as browsers don't like it when
 *    there isn't the same amount of `box-shadow` values for both default and
 *    the `:focus` state ಠ╭╮ಠ.
 */
.c-search-input__input {
    background-color: $shell-g-color-white;
    border: 0;
    border-radius: 2em;
    box-shadow: $g-box-shadow-text-input;
    color: $shell-g-color-text;
    font-size: rem($shell-g-font-size-small);
    outline: 0; // [1]
    padding: rem($shell-g-spacing-small) rem($shell-g-spacing) rem($shell-g-spacing-small) rem($shell-g-spacing-2x-large);
    transition: box-shadow 0.2s ease;
    width: 100%;

    // [1]
    &:focus {
        box-shadow: inset 0 0 0 0 rgba($shell-g-color-white, 0),
                    $g-box-shadow-active; // [2]
    }

    &.is-invalid,
    &.is-invalid:focus {
        box-shadow: 0 0 0 1px $g-color-red-500;
    }
}

.c-search-input__icon {
    fill: $shell-g-color-black;
    height: rem(24);
    pointer-events: none;
    position: absolute;
    left: rem($shell-g-spacing-small);
    top: 50%;
    transform: translateY(-50%);
    width: rem(24);
}
