/**
 * Base.
 */

.c-header {
    background-color: $g-color-grey-900;
    color: $shell-g-color-white;
    padding: rem($shell-g-spacing);
}

.c-header__title {
    color: $shell-g-color-white;
}


.c-sub-header {
    background-color: $shell-g-color-white;
    padding: rem($shell-g-spacing);
}
